.navbar {
  min-height: 75px;
  -webkit-box-shadow: 0px 4px 4px #000;
          box-shadow: 0px 4px 4px #000;
}

.navbar .collapse {
  float: left !important;
}

.navbar .navbar-brand {
  font-size: 20px;
  font-weight: 700;
  text-shadow: 3px 3px 4px #000;
}

.navbar .navbar-nav {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
}

.navbar .navbar-nav .nav-item {
  margin: 5px;
  padding: 0px 20px;
}

@-webkit-keyframes bodybg {
  0% {
    background-image: -webkit-gradient(linear, right top, left top, from(#222222c2), color-stop(#111111be), to(#000000bb)), url("2.jpg");
    background-image: linear-gradient(to left, #222222c2, #111111be, #000000bb), url("2.jpg");
  }
  25% {
    background-image: -webkit-gradient(linear, right top, left top, from(#222222c2), color-stop(#111111be), to(#000000bb)), url("3.jpg");
    background-image: linear-gradient(to left, #222222c2, #111111be, #000000bb), url("3.jpg");
  }
  50% {
    background-image: -webkit-gradient(linear, right top, left top, from(#222222c2), color-stop(#111111be), to(#000000bb)), url("4.jpg");
    background-image: linear-gradient(to left, #222222c2, #111111be, #000000bb), url("4.jpg");
  }
  75% {
    background-image: -webkit-gradient(linear, right top, left top, from(#222222c2), color-stop(#111111be), to(#000000bb)), url("1.webp");
    background-image: linear-gradient(to left, #222222c2, #111111be, #000000bb), url("1.webp");
  }
  100% {
    background-image: -webkit-gradient(linear, right top, left top, from(#222222c2), color-stop(#111111be), to(#000000bb)), url("2.jpg");
    background-image: linear-gradient(to left, #222222c2, #111111be, #000000bb), url("2.jpg");
  }
}

@keyframes bodybg {
  0% {
    background-image: -webkit-gradient(linear, right top, left top, from(#222222c2), color-stop(#111111be), to(#000000bb)), url("2.jpg");
    background-image: linear-gradient(to left, #222222c2, #111111be, #000000bb), url("2.jpg");
  }
  25% {
    background-image: -webkit-gradient(linear, right top, left top, from(#222222c2), color-stop(#111111be), to(#000000bb)), url("3.jpg");
    background-image: linear-gradient(to left, #222222c2, #111111be, #000000bb), url("3.jpg");
  }
  50% {
    background-image: -webkit-gradient(linear, right top, left top, from(#222222c2), color-stop(#111111be), to(#000000bb)), url("4.jpg");
    background-image: linear-gradient(to left, #222222c2, #111111be, #000000bb), url("4.jpg");
  }
  75% {
    background-image: -webkit-gradient(linear, right top, left top, from(#222222c2), color-stop(#111111be), to(#000000bb)), url("1.webp");
    background-image: linear-gradient(to left, #222222c2, #111111be, #000000bb), url("1.webp");
  }
  100% {
    background-image: -webkit-gradient(linear, right top, left top, from(#222222c2), color-stop(#111111be), to(#000000bb)), url("2.jpg");
    background-image: linear-gradient(to left, #222222c2, #111111be, #000000bb), url("2.jpg");
  }
}

body {
  background-color: #222;
  -webkit-animation: bodybg 20s infinite;
          animation: bodybg 20s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.indexdiv {
  min-height: 90vh;
}

.indexdiv .indexindiv {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indexdiv .indexindiv .donatetxt {
  color: #fff;
  font-family: cursive;
  font-size: 2.5rem;
}

.indexdiv .indexindiv .donatediv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.indexdiv .indexindiv .donatediv .PaymentButton--rzp-dark-standard.svelte-ekc7fv.svelte-ekc7fv {
  padding: 5px;
  height: 50px;
  border: 2px solid #44acc4;
  border-radius: 10px;
}

.indexdiv .indexindiv .smiles {
  color: #44acc4;
}

.indexdiv .indexindiv .smiles .smilesbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.indexdiv .indexindiv .smiles .smilesbox .box {
  width: 300px;
  padding: 10px;
  border: 0.5px solid #44acc4;
  border-radius: 25px;
  margin: 1.5px;
}

.indexdiv .indexindiv .smiles .smilesbox .box .no {
  font-size: 45px;
  font-weight: 800;
  text-shadow: 2px 2px 2px #fff;
}

.indexdiv .indexindiv .smiles .smilesbox .box .txt {
  font-size: 18px;
  color: #ccc;
}

.footerdiv {
  background-color: #222;
  color: #999;
  font-size: 0.9rem;
}

.footerdiv .crights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=index.css.map */